@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Explicitly target the .dark class on the html/root element */
:root.dark {
  --background: #121212;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
